<nav class="navbar">
    <div id="navlinks">
        <!-- the a html tag - anchor - specifies a link                 -->
        <!-- here we are specifing the URL path for the link            -->
        <!-- when a link is clicked the path in the href= will be added -->
        <!--      to the server-name:port in the URL                    -->   
        <a href="/home">Home</a>
        <span> | </span>
        <a href="/search">Search Recipes</a>
        <span> | </span>
        <a href="/modify">Add/Edit Recipes</a>
        <span> | </span>   
        <a href="/login">Login</a>
        <span> | </span>
        <a href="/signup">Sign-Up</a>
    </div>
</nav>