<nav class="navbar" class="flex items-center justify-between px-4 py-2 bg-green-700 text-white shadow-md">
    <div id="navlinks" class="space-x-4">
        <!-- the a html tag - anchor - specifies a link                 -->
        <!-- here we are specifing the URL path for the link            -->
        <!-- when a link is clicked the path in the href= will be added -->
        <!--      to the server-name:port in the URL                    -->   
        <a href="/home" class="hover:text-green-200">Home</a>
        <span> | </span>
        <a href="/search" class="hover:text-green-200">Search Recipes</a>
        <span> | </span>
        <a href="/modify" class="hover:text-green-200">Add/Edit Recipes</a>
        <span> | </span>   
        <a href="/login" class="hover:text-green-200">Login</a>
        <span> | </span>
        <a href="/signup" class="hover:text-green-200">Sign-Up</a>
    </div>
</nav>