<h1>Shopping List</h1>
<button (click)= "removeChecked()">Remove Checked</button>
<div *ngFor="let aIngredient of userIngredients">
    <p> Id: {{aIngredient.ingredientId}} </p>
    <p> Name: {{aIngredient.ingredientName}} </p>
    <p> Quantity: {{aIngredient.ingredientQuantity}} </p>
    <input type="checkbox" [(ngModel)] = "aIngredient.toRemove">
</div>

<h1>Recipe Select</h1>
<button (click)="addIngredients()">Add Recipe</button>
<!-- <button (click)="addIngredients(displayedRecipe.ingredientList)">Add Recipe</button> -->
 <section>
    <div>
        <select [(ngModel)]="selectedRecipeId" (change)="onRecipeSelected()">
            <option *ngFor="let aRecipe of allRecipes" [value]="aRecipe.recipeId">{{aRecipe.recipeName}} </option>
        </select>
    </div>
    <div *ngIf="displayedRecipe">
        <h2>{{displayedRecipe.recipeName}}</h2>
        <p>{{displayedRecipe.recipeCategory}}</p>
        <p>{{displayedRecipe.ingredientList}}</p>
    </div>
</section>