<h1>On List</h1>
<button (click)= "removeUnchecked()">Remove Unchecked</button>
<div *ngFor="let aRecipe of recipesOnList">
    <p> Id: {{aRecipe.recipeId}} </p>
    <p> Name: {{aRecipe.recipeName}} </p>
    <input type="checkbox" [(ngModel)] = "aRecipe.isOnList">
</div>

<h1>Not on List</h1>
 <button>Add Recipe</button> 
<!-- <button (click)= "addChecked(selectedRecipe)">Add Recipe</button> -->
<select [(ngModel)]="selectedRecipe">
    <option *ngFor="let aRecipe of allRecipes">{{aRecipe.recipeName}} </option>
</select>