<div class="signup-container">
    <h2>Sign Up</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="userName">Name</label>
        <input
          id="userName"
          type="text"
          formControlName="userName"
          placeholder="Enter your name"
        />
        <small
          *ngIf="signupForm.get('userName')?.invalid && signupForm.get('userName')?.touched"
        >
          Name is required.
        </small>
      </div>

      <div class="form-group">
        <label for="userEmail">Email</label>
        <input
            id="userEmail"
            type="email"
            formControlName="userEmail"
            placeholder="Enter your email"
            />
            <small
             *ngIf="signupForm.get('userEmail')?.invalid && signupForm.get('userEmail')?.touched"
             >
            Please enter a valid email.
            </small>
      </div>

      <div class="form-group">
        <label for="userPassword">Email</label>
        <input
            id="userPassword"
            type="password"
            formControlName="userPassword"
            placeholder="Enter your password"
        />
        <small
        *ngIf="
          signupForm.get('userPassword')?.errors?.['required'] &&
          signupForm.get('userPassword')?.touched
        "
      >
        Password is required.
      </small>
      <small
        *ngIf="
          signupForm.get('userPassword')?.errors?.['minlength'] &&
          signupForm.get('userPassword')?.touched
        "
      >
        Password must be at least 6 characters.
      </small>
      <small
        *ngIf="
          signupForm.get('userPassword')?.errors?.['maxlength'] &&
          signupForm.get('userPassword')?.touched
        "
      >
        Password cannot exceed 30 characters.
      </small>
    </div>

    <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>
  </form>
</div>